{% extends "base.html" %}

{% block content %}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item" aria-current="page">Episodes</li>
</ol>

<div class="d-flex flex-row-reverse gap-3">
    <a href="/Episodes/insert">Add new Episode and Season</a>
</div>

<table class="table">
    <thead>
        <tr>
            
            <th>Title</th>
            <th>Description</th>
            <th>Episode number</th>
            <th>Duration</th>
            <th>ID</th>
            <th>Language ID</th>
            <th>Season ID</th>
        </tr>
    </thead>
    <tbody>
        {% for episode in rows %}
        <tr>
            <td>{{ episode.title }}</td>
            <td>{{ episode.description }}</td>
            <td>{{ episode.episode_number }}</td>
            <td>{{ episode.duration }}</td>
            <td>{{ episode.id_Episode }}</td>
            <td>{{ episode.fk_Languageid_Language }}</td>
            <td>{{ episode.fk_Seasonid_Season }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}