{% extends "base.html" %}

{% block content %}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item" aria-current="page">Episodes</li>
</ol>

<div class="d-flex flex-row-reverse gap-3">
    <a href="/Episodes/insert">Add new Episode and Season</a>
</div>

<table class="table">
    <thead>
        <tr>
            
            <th>Title</th>
            <th>Description</th>
            <th>Episode number</th>
            <th>Duration</th>
            <th>ID</th>
            <th>Language ID</th>
            <th>Language</th>
            <th>Season ID</th>
            <th>Season</th>
            <th>Edit Episode</th>
            <th>Remove Episode</th>
        </tr>
    </thead>
    <tbody>
        {% for episode in rows %}
        <tr>
            <td>{{ episode.title }}</td>
            <td>{{ episode.description }}</td>
            <td>{{ episode.episode_number }}</td>
            <td>{{ episode.duration }}</td>
            <td>{{ episode.id_Episode }}</td>
            <td>{{ episode.fk_Languageid_Language }}</td>
            <td>{{ episode.language_nm }}</td>
            <td>{{ episode.fk_Seasonid_Season }}</td>
            <td>{{ episode.season_name }}</td>
            <td>
                <form action="{{ url_for('edit_episode_form') }}" method="post">
                    <input type="hidden" name="id_Episode" value="{{ episode.id_Episode }}">
                    <input type="hidden" name="fk_Seasonid_Season" value="{{ episode.fk_Seasonid_Season }}">
                    <input type="submit" class="btn btn-outline-primary" name="button" value="Edit">
                </form>
            </td>
            <td>
                <form action="{{ url_for('insanity') }}" method="post"
                    onsubmit="return confirm('Are you sure you want to delete this row?')">
                    <input type="hidden" name="id_Episode" value="{{ episode.id_Episode }}">
                    <input type="submit" class="btn btn-outline-danger" value="Remove">
                </form>
              </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}