{% extends "base.html" %}

{% block content %}

<ol class="breadcrumb">
    <li class="breadcrumb-item" aria-current="page"><a href="/">Home</a></li>
</ol>

<div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
    <div class="feature col">
        <h2>TV Shows</h2>
        <p>List of TV Shows</p>
        <a href="/tv_shows" class="icon-link">Open</a>
    </div>
    <div class="feature col">
        <h2>Seasons</h2>
        <p>TV Show seasons</p>
        <a href="/seasons" class="icon-link">Open</a>
    </div>
    <div class="feature col">
        <h2>Episodes</h2>
        <p>Season episodes</p>
        <a href="/episodes" class="icon-link">Open</a>
    </div>
    <div class="feature col">
        <h2>Languages</h2>
        <p>Episodes languages</p>
        <a href="/languages" class="icon-link">Open</a>
    </div>
    
</div>

{% endblock %}