{% extends "base.html" %}

{% block content %}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item" aria-current="page">Languages</li>
</ol>


<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Language</th>
        </tr>
    </thead>
    <tbody>
        {% for row in rows %}
        <tr>
            {% for element in row %}
                <td>{{ element }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}