{% extends "base.html" %}

{% block content %}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item" aria-current="page">Languages</li>
</ol>


<table class="table">
    <thead>
        <tr>
            <th>Language</th>
            <th>ID</th>
        </tr>
    </thead>
    <tbody>
        {% for language in rows %}
        <tr>
            <td>{{ language.language_name }}</td>
            <td>{{ language.id_Language }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}