{% extends "base.html" %}

{% block content %}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item" aria-current="page">Seasons</li>
</ol>


<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Release date</th>
            <th>ID</th>
            <th>TV Show ID</th>
            <th>TV Show</th>
        </tr>
    </thead>
    <tbody>
        {% for season in rows %}
        <tr>
            <td>{{ season.title }}</td>
            <td>{{ season.description }}</td>
            <td>{{ season.release_date }}</td>
            <td>{{ season.id_Season }}</td>
            <td>{{ season.fk_TV_Showid_TV_Show }}</td>
            <td>{{ season.tv_show_name }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}