{% extends "base.html" %}

{% block content %}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item" aria-current="page">TV Shows</li>
</ol>


<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Release date</th>
            <th>ID</th>
        </tr>
    </thead>
    <tbody>
        {% for tv_show in rows %}
        <tr>
            <td>{{ tv_show.title }}</td>
            <td>{{ tv_show.description }}</td>
            <td>{{ tv_show.release_date }}</td>
            <td>{{ tv_show.id_TV_Show }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}